# Installing Packages

In [3]:
import sys
!{sys.executable} -m pip install seaborn
!{sys.executable} -m pip install pandas

Requirement already satisfied: seaborn in c:\python311\lib\site-packages (0.13.0)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in c:\python311\lib\site-packages (from seaborn) (1.25.2)
Requirement already satisfied: pandas>=1.2 in c:\python311\lib\site-packages (from seaborn) (2.0.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.3 in c:\python311\lib\site-packages (from seaborn) (3.7.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (1.1.0)
Requirement already satisfied: cycler>=0.10 in c:\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (4.42.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (23.1)
Requirement already satisfied: pillow>=6.2.0 in c:\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (10.0.0)
Requirement already satisfied: pyparsing<3.1,>=2.3.1 in c:\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\python311\lib\site-packages (from pandas>=1.2->seaborn) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in c:\python311\lib\site-packages (from pandas>=1.2->seaborn) (2023.3)
Requirement already satisfied: six>=1.5 in c:\python311\lib\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.3->seaborn) (1.16.0)

[notice] A new release of pip is available: 23.1.2 -> 23.3.1
[notice] To update, run: C:\Python311\python.exe -m pip install --upgrade pip

Requirement already satisfied: pandas in c:\python311\lib\site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\python311\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\python311\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in c:\python311\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\python311\lib\site-packages (from pandas) (1.25.2)
Requirement already satisfied: six>=1.5 in c:\python311\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 23.1.2 -> 23.3.1
[notice] To update, run: C:\Python311\python.exe -m pip install --upgrade pip

# Importing necessary packages

In [99]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split

# Reading the Dataset

In [119]:
df = pd.read_csv("../dataset/Doctors_job_dataset.csv")

In [120]:
df.head()

,S.No,Resume Title,Work Exp,Annual Salary,Current Location,Preferred Location,Designation,U.G. Course,P. G. Course,Post P. G. Course,Age/Date of Birth,Resume ID,Last Active Date
0,1,Experienced Dermatologist with 5 years plus ex...,5.8,10.0,Kolkata,Kolkata,NaN,Mbbs,Md Dermatology,Dr,40.0,0c264007658bd1c224,2016
1,2,"M.B.B.S.,D.D.V.(Skin) with 5 yrs experience.",5.0,10.5,Dubai,Dubai,Consultant Dermatologist And Cosmetologist,Mbbs,Pg Diploma,NaN,40.0,3697d8852652123c53,2014
2,3,"MBBS, D.V.D & DNB (Dermatology) with 7 yrs exp...",8.2,30.0,Dubai,All India,Dermatologist,Mbbs,Dnb,NaN,48.0,4b98d6db4fc0b5b012,2009
3,4,"MBBS; DNB, FCPS,DDV with 6yrs of Exp.",7.0,9.6,Mumbai,Mumbai,NaN,Mbbs,Dnb Dermatology,D.d.v,41.0,59063066742215cd70,2013
4,5,Medical and cosmetic dermatology and dermatosu...,10.0,15.0,New Delhi,Delhi / Ncr,Consultant Dermatologist And Cosmetologist,Mbbs,Pg Diploma,NaN,40.0,1aea93342d8c652a71,2018

In [121]:
df = df[["Work Exp", "Annual Salary", "Current Location", "Designation", "U.G. Course", "P. G. Course", "Post P. G. Course"]]
df.head()

,Work Exp,Annual Salary,Current Location,Designation,U.G. Course,P. G. Course,Post P. G. Course
0,5.8,10.0,Kolkata,NaN,Mbbs,Md Dermatology,Dr
1,5.0,10.5,Dubai,Consultant Dermatologist And Cosmetologist,Mbbs,Pg Diploma,NaN
2,8.2,30.0,Dubai,Dermatologist,Mbbs,Dnb,NaN
3,7.0,9.6,Mumbai,NaN,Mbbs,Dnb Dermatology,D.d.v
4,10.0,15.0,New Delhi,Consultant Dermatologist And Cosmetologist,Mbbs,Pg Diploma,NaN

In [103]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 399 entries, 0 to 398
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Work Exp           399 non-null    float64
 1   Annual Salary      399 non-null    float64
 2   Current Location   399 non-null    object
 3   Designation        361 non-null    object
 4   U.G. Course        399 non-null    object
 5   P. G. Course       399 non-null    object
 6   Post P. G. Course  66 non-null     object
dtypes: float64(2), object(5)
memory usage: 21.9+ KB

In [104]:
df["Designation"].value_counts()

Designation
Consultant Dermatologist                               62
Consultant                                             18
Dermatologist                                          14
Assistant Professor                                    11
Senior Resident                                         9
                                                       ..
Integrator Medical Protocols                            1
Associate Director - Global Aggregate Safety            1
Assistant General Manager, Torrent Research Centre      1
Manager                                                 1
Senior Dermatologist,trichologist And Cosmetologist     1
Name: count, Length: 195, dtype: int64

In [105]:
df["Current Location"].value_counts()

Current Location
Mumbai         58
New Delhi      56
Bangalore      52
Hyderabad      38
Gurgaon        18
               ..
Thrissur        1
Salem           1
Bhubaneswar     1
Kurukshetra     1
Behror          1
Name: count, Length: 80, dtype: int64

In [106]:
df["P. G. Course"].value_counts()

P. G. Course
Medical-ms/md             137
Pg Diploma                 82
Md                         37
Not Pursuing Pg            21
Mba/pgdm                   15
                         ...
Md Physiology               1
Md Community Medicine       1
M.d Pathology               1
M.d.pharmacology            1
Md Skin                     1
Name: count, Length: 71, dtype: int64

In [107]:
df["Post P. G. Course"].isna()

0      False
1       True
2       True
3      False
4       True
       ...
394     True
395     True
396     True
397     True
398     True
Name: Post P. G. Course, Length: 399, dtype: bool

In [136]:
def shorten_designation(categories, cutoff):
    categorical_map = {}
    for i in range(len(categories)):
        if categories.values[i] >= cutoff:
            categorical_map[categories.index[i]] = categories.index[i]
        else:
            categorical_map[categories.index[i]] = 'Other'
    return categorical_map

def shorten_location(categories, cutoff):
    location_map = {}
    for i in range(len(categories)):
        if categories.values[i] >= cutoff:
            location_map[categories.index[i]] = categories.index[i]
        else:
            location_map[categories.index[i]] = 'Other'
    return location_map

def clean_PG(x):
    if 'Md' in x or "md" in x or 'm.d' in x or 'M.d.' in x or "MD" in x:
        return "MD"
    if 'Diploma' in x or 'diploma' in x:
        return "Diploma"
    if 'pgdm' in x or "PGDM" in x:
        return "PGDM"
    return "other"

def clean_PostPG(x):
    if pd.isna(x):
        return "No Post PG"
    return "Yes Post PG"

In [109]:
designation_map = shorten_designation(df.Designation.value_counts(), 10)
df['Designation'] = df['Designation'].map(designation_map)
df.Designation.value_counts()

Designation
Other                       256
Consultant Dermatologist     62
Consultant                   18
Dermatologist                14
Assistant Professor          11
Name: count, dtype: int64

In [110]:
location_map = shorten_location(df['Current Location'].value_counts(), 15)
df['Current Location'] = df['Current Location'].map(location_map)
df['Current Location'].value_counts()

Current Location
Other        145
Mumbai        58
New Delhi     56
Bangalore     52
Hyderabad     38
Gurgaon       18
Kolkata       17
Chennai       15
Name: count, dtype: int64

In [111]:
df['P. G. Course'] = df['P. G. Course'].apply(clean_PG)

P. G. Course
MD         213
Diploma     86
other       85
PGDM        15
Name: count, dtype: int64

In [112]:
df['P. G. Course'].value_counts()

P. G. Course
MD         213
Diploma     86
other       85
PGDM        15
Name: count, dtype: int64

In [137]:
df['Post P. G. Course'] = df['Post P. G. Course'].apply(clean_PostPG)

In [138]:
df['Post P. G. Course'].value_counts()

Post P. G. Course
No Post PG     333
Yes Post PG     66
Name: count, dtype: int64